body {
  background-color: rgb(243, 241, 241);
}

.jumbotron {
  background-color: rgb(243, 241, 241);
}

.custom-nav {
  background-color: rgb(165, 27, 68) !important;
  padding: 20px;
}

.navbar-brand {
  font-size: 18px;
}

.nav-item .nav-link {
  font-size: 14px;
}

